<ul class="nav nav-sidebar">
  <li><a href="/admin/customers">用户</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="/admin/orders">余额充值订单</a></li>
  <li><a href="/admin/trafficplans">流量套餐</a></li>
  <li><a href="/admin/flowhistories">历史记录</a></li>
</ul>

<script type="text/javascript">
$(function(){
  $("#siderbar li a").each(function(i, e) {
    var link = $(e).attr("href"),
        regexLink = '^' + link + "[\/|\?]\?.*"
    if(link !== '#' || link !== ''){
      if(window.location.pathname.match(regexLink)){
        $(e).parent().addClass("active")
      }
    }
  })
})
</script>

